<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="body-pd"class="body-pd">
    
    <%- include('./partials/nav.ejs') %>
    

<form method="POST" action="/class/upload" enctype="multipart/form-data">
    <input type="file" name="upload" accept=".xls,.xlsx,.ods">
    <a href="#"><button class="button btn-primary">SUBMIT</button></a>
</form>

<div class="container">
       
    <!--Informaticka gimnazija.... including table partial from itUsers.ejs and passing them object arrayOfUsers so they can output data-->
    <%- include('./partials/itUsers.ejs',{arrayOfUsers}) %>

    <%- include('./partials/basicUsers.ejs',{arrayOfUsers}) %>
    
    <%- include('./partials/hairUsers.ejs',{arrayOfUsers}) %>
   
    <form method="POST"action="/removefile" enctype="text/plain">
    <button class="btn btn-primary btn-lg">Large button</button></form>
</div>


    

<input type="button" value="SUBMIT"id="createClass">


<script>



</script>



    </body>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/addUsers.js"></script>
<script src="/javascript/javascriptNav.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</html>